<header class="jumbotron pt-5 pb-5 mb-0 d-flex justify-content-between aling-content-center">
<!-- List of themes start -->
  <div class="w-25">
    <select class="form-control w-25" 
            placeholder="pick a color theme" 
            name="themePicker"
            [(ngModel)]="choice"
            (change)="onChange($event.target.value)">
      <option value="Dark"> Dark </option>
      <option value="Light"> Light </option>
      <option value="Red"> Red </option>
    </select>
  </div>
<!-- List of themes end -->
  <div class="timer">
    <div class="d-flex aling-item-center justify-content-center">
      <p class="hours"> {{ hours }} </p>
      <span> : </span>
      <p class="minutes"> {{ minutes }} </p>
    </div>
    <p class="selected-task">{{ task }}</p>
  </div>
  <h1 class="text-right page-title"> Welcome to the Todo List </h1>
</header>
