.auth-form {
  width: 400px;
  height: 500px;
  margin: 0 auto;
  justify-content: space-between;
  box-shadow: 0px 0px 23px 1px rgba(0, 0, 0, 0.2);
  border-radius: .25em;


  h1 {
    text-align: center;
    padding-bottom: 8px;
    border-bottom: 3px solid;
  }
}
