.page-title {
    text-align: center;
}

.container {
  min-height: 594px;
}

.todo-text-input {
    width: 89%;
    margin-right: 34px;
    resize: none;
}

.tasks-wrapper {
  display: grid;
  padding: 0;
  grid-template-columns: repeat(auto-fit, minmax(267px, 255px));
  grid-gap: 1em;
  justify-content: center;
  width: 100%;
  max-height: 700px;
  overflow: auto;
}

.task-list {
    max-height: 337px;
    overflow: auto;
}

.todo-text {
    width: 75%;
    font-size: 20px;
    word-break: break-all;
}


.checkbox {
  height: 20px;
  width: 20px;
}

.taskTime {
  width: 10%;
  font-size: 20px;
  margin-right: 15px;
}

.start-btn,
.resolved-btn {
  width: 90px !important;
}

.delete-btn {
  width: 28px;
  padding: 0;
  right: 5%;
  top: 4%;
}

.todo-checked {
  border: 1px solid red !important;
  color: red;
}

.card {
  max-width: 18rem;
  min-width: 250px;
}
