<div class="task-container">
    <h1 class="page-title">TodoList</h1>
<!-- Create new task start -->
    <div class="task-input-wrapper">
      <input class="form-control todo-text-input"
            type="text"
            name="taskName"
            [(ngModel)]="todoTaskName"
            placeholder="Task Name">
      <input class="form-control todo-text-input mt-3"
            type="text"
            name="todoDescription"
            [(ngModel)]="todoTaskDesc"
            placeholder="Task Description"
            (keyup)="enter($event)"
      >
      <div class="mt-3">
        <ng-datepicker [(ngModel)]="date"></ng-datepicker>
      </div>
    <button class="btn btn-primary add-btn mt-3" (click)="addTask()">Add task</button>
    </div>
<!-- Create new task end -->

<!-- task-list start -->
    <div class="card-deck mt-3 tasks-wrapper">
      <div class="card border-primary mb-3"
          [ngClass]="{'todo-checked': task.status}"
          *ngFor="let task of tasks; let i = index"
      >
        <label>
          <input type="checkbox" class="checkbox mr-3 d-none" (change)="onChange($event, i)" [checked]="task.status">
          <div class="card-header position-relatevi">
            {{ task.name }}
            <button class="btn btn-danger delete-btn position-absolute" (click)="deleteTask(i)"> X </button>
          </div>
          <div class="card-body text-primary">
            <h5 class="card-title taskTime d-flex" *ngIf="task.taskStatus === 1; else emptyTime">
                <span>{{ hours }}</span>
                <span> : </span>
                <span>{{ minutes }}</span>
            </h5>
            <ng-template #emptyTime>
              <h5 class="taskTime"></h5>
            </ng-template>
            <p class="card-text">{{ task.description }}</p>
          </div>
          <div class="card-footer bg-transparent">
            <button class="btn btn-info resolved-btn disabled d-block mx-auto" *ngIf="task.taskStatus === 3; else rs" disabled> Resolved </button>
            <ng-template #rs>
              <button class="btn btn-primary start-btn d-block mx-auto" (click)="startTimer(task.name, task.taskStatus, task.taskTime.hours, task.taskTime.minutes, i)">
                <span *ngIf="!task.taskStatus; else stop"> Run </span>
                <ng-template #stop>
                  <span> Stop </span>
                </ng-template>
              </button>
            </ng-template>
          </div>
        </label>
      </div>
    </div>
<!-- list's settings buttons -->
    <div class="mt-3">
        <button class="btn btn-warning" (click)="selectAllTasks()"> Select all tasks </button>
        <button class="btn btn-warning ml-4" (click)="unSelectAllTasks()"> Unselect all tasks </button>
        <button class="btn btn-warning ml-4" (click)="deleteSelectedTasks()"> Delete selected tasks </button>
    </div>
<!-- task-list start -->
</div>
