
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$TodoList-primary: mat-palette($mat-indigo);
$TodoList-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$TodoList-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$TodoList-theme: mat-light-theme($TodoList-primary, $TodoList-accent, $TodoList-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($TodoList-theme);

@import "../node_modules/angular-calendar/css/angular-calendar.css";

@font-face {
  font-family: "Helavitca";
  src: url(../src/assets/fonts/Helavitca.otf)
}

// variables
$nav-font: Helavitca;

body {
  background: url(../src/assets/bg.png) 50% 50% no-repeat;
  background-size: cover;
}


.darkTheme {
    color: gray;

    .jumbotron {
        background: rgb(31, 31, 31);
        border-radius: 0;
    }

    .form-control {
        background-color: #9c9c9c;
        color: white;


        &:focus {
            box-shadow: 0 0 0 0.2rem rgba(220, 53, 70, 0.5);
            border-color: #dc3545;
        }

        &:not(:disabled):not(.disabled):active:focus {
            box-shadow: 0 0 0 0.2rem rgba(220, 53, 70, 0.774);
        }
    }

    .btn {
        background-color: #dc3545;
        border-color: #dc3545;
        color: white;

        &:not(:disabled):not(.disabled):active {
            background-color: #dc3545;
            border-color: #dc3545;
            color: white;
        }

        &:focus,
        &:not(:disabled):not(.disabled):active:focus {
            box-shadow: 0 0 0 0.2rem rgba(220, 53, 70, 0.5);
            color: white;
        }
    }

    .tasksBoard {
        background-color: rgb(63, 63, 63);
        color: rgb(185, 184, 184);

        .jumbotron {
            border-radius: 0.25rem
        }

        .tasks-wrapper,
        & .list-group-item {
            background: rgb(68, 68, 68);
        }
    }
}

.redTheme {
    color: white;

    .jumbotron {
        background: #dc3545;
        border-radius: 0;

        .page-title,
        .footer-title {
            color: white;
        }
    }

    .form-control {
        background-color: #9c9c9c;
        color: white;


        &:focus,
        &:not(:disabled):not(.disabled):active:focus {
            box-shadow: 0 0 0 0.2rem rgba(36, 36, 36, 0.5);
            border-color: rgb(36, 36, 36);;
        }
    }

    .btn{
        background-color: rgb(36, 36, 36);
        border-color: rgb(36, 36, 36);
        color: white;

        &:not(:disabled):not(.disabled):active {
            background-color:rgb(36, 36, 36);
            border-color: white;
            color: white;
        }

        &:focus,
        &:not(:disabled):not(.disabled):active:focus {
            box-shadow: none;
            color: white;
        }
    }

    .tasksBoard {
        background-color: rgb(63, 63, 63);
        color: rgb(185, 184, 184);

        .jumbotron {
            border-radius: 0.25rem
        }

        .tasks-wrapper,
        & .list-group-item {
            background: rgb(68, 68, 68);
        }
    }

}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.ngx-datepicker-calendar-container.ngx-datepicker-position-bottom-right.ng-star-inserted {
  z-index: 1;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
